defaults: &defaults
  docker:
    - image: circleci/node:16.13.0
  working_directory: ~/project

version: 2.1

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: "Build"
          command: "pnpm build"
  format:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: "Lint"
          command: "pnpm format:check"
      - run:
          name: "Lint"
          command: "pnpm lint"

  tests:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: "Tests"
          command: "pnpm test"

  release:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: "Pushing to github packages"
          command: "pnpm release"

workflows:
  ci:
    jobs:
      - build
      - format
      - tests
      - release:
          requires:
            - build
            - tests
            - lint
          filters:
            branches:
              only:
                - main
            tags:
              only:
                - /^v.*/
