defaults: &defaults
  docker:
    - image: circleci/node:16.13.0
  working_directory: ~/project

restore_cache: &restore_cahce
  restore_cache:
    name: "Restore pnpm Package Cache"
    keys:
      - pnpm-packages-{{ checksum "pnpm-lock.yaml" }}

pnpm: &pnpm
  run:
    name: "Install pnpm package manager"
    command: |
      corepack prepare  --activate pnpm@7.011.0

save_cache: &save_cache
  save_cache:
    name: "Save pnpm Package Cache"
    key: pnpm-packages-{{ checksum "pnpm-lock.yaml" }}
    paths:
      - node_modules

version: 2.1

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - <<: *restore_cahce
      - <<: *pnpm
      - <<: *save_cache
      - run:
          name: "Build"
          command: "pnpm build"
  format:
    <<: *defaults
    steps:
      - checkout
      - <<: *restore_cahce
      - <<: *pnpm
      - <<: *save_cache
      - run:
          name: "Lint"
          command: "pnpm format:check"
      - run:
          name: "Lint"
          command: "pnpm lint"

  tests:
    <<: *defaults
    steps:
      - checkout
      - <<: *restore_cahce
      - <<: *pnpm
      - <<: *save_cache
      - run:
          name: "Tests"
          command: "pnpm test"

  release:
    <<: *defaults
    steps:
      - checkout
      - <<: *restore_cahce
      - run:
          name: "Pushing to github packages"
          command: "pnpm release"

workflows:
  ci:
    jobs:
      - build
      - format
      - tests
      - release:
          requires:
            - build
            - tests
            - format
          filters:
            branches:
              only:
                - main
            tags:
              only:
                - /^v.*/
